* {
    margin: 0;
    padding: 0;
}
#content {
    height: 100vh;
    width: 100vw;
}

#main {
    height: 50%;
    width: 100%;
    background-color: rgb(214, 194, 194);
}

#side-bar {
    height: 50%;
    width: 100%;
    background-color: rgb(191, 212, 207);
}