* {
  margin: 0;
  padding: 0;
}

:root {
  --my-white: #fff;
  --my-side: #f5f7fa;
  --my-module: #e9eaec;
}
@font-face {
    font-family: 'Robots';
    src: url('./fonts/Roboto-Light.ttf');
}

#content {
  height: 100vh;
  width: 100vw;
  font-family: Robots
}

#page-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-columns: 260px 8fr;
  grid-template-areas:
  'side-bar head' 
  'side-bar main '
  'foot foot';
   transition: 275ms;
}

.blurred {
  filter: blur(2px);
  transition: 275ms;
}

#head {
  grid-area: head;
  background-color: var(--my-side);
  height: 100%;
  width: 100%;
}

#main {
  box-sizing: border-box;
  grid-area: main;
  height: 100%;
  width: 100%;
  padding: 0 25px 25px 0;
  background-color: var(--my-side);
}

#add-instructions {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(121, 121, 121);
}

#side-bar {
  grid-area: side-bar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--my-side);
  align-items: center;
}
#side-bar :nth-child(1) { order: 2; }
#side-bar :nth-child(2) { order: 1; }

#add-box {
  display: flex;
}

#add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 50px 0 0 0;
  border-style: none;
  border-radius: 35%;
  background-color: rgb(241, 176, 176);
  font-size: 50px;
  transition: all ease-in-out 0.2s;
}

#add-new:hover {
  /* width: 110px;
  height: 110px; */
  background-color: rgb(241, 191, 191);
  box-shadow: 7px 7px rgb(223, 101, 101);
}

#select-box {
  background-color: var(--my-white);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 100px;
  /* margin-top: 10px; */
  padding: 5px;
  gap: 5px;
  box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
  border-radius: 3px;
}

#project-select,
#task-select {
  height: 100%;
  width: 100%;
}

/* SIDE-BAR PROJECT TABLE STYLE */
#project-table {
  padding: 50px 0 0 20px;
  width: 100%;

}

#project-header {
  font-size: 23px;
  margin: 0 0 10px 0;
}

.project-row {
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 10fr 6fr 3fr;
  grid-template-areas:
  'project-cell project-cell project-options' 
  'project-due project-priority project-options ';
  /* background-color: var(--my-module); */
  border-bottom: 2px solid rgb(219, 219, 219);
  /* border-radius: 25px; */
}

.project-row:hover {
  background-color: rgb(219, 219, 219);
}

.project-cell {
  grid-area: project-cell;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 15px 0 0 15px
}

.due-cell {
  display: flex;
  align-items: center;
  grid-area: project-due;
  padding: 2px 0 2px 15px
}

.priority-cell{
  grid-area: project-priority;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px 0 6px 0;

  border-radius: 15px;
}

.project-options {
  display: flex;
  width: 100%;
  height: 100%;
  grid-area: project-options;
  justify-content: center;
  align-items: center;
  
  /* padding: 0 0 0 0 */
}

.fa-ellipsis-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  /* border: solid 1px black; */
  padding: 2px;
  border-radius: 10px;
}
.fa-ellipsis-vertical:hover {
  background-color: rgb(255, 255, 255);
}

.project-options-box {
  position: absolute;
  border: 1px solid black;
  border-radius: 7px;
  right: -65px;
  background-color: var(--my-side);
  padding: 5px;
}

/* MAIN TASK TABLE STYLE */
#task-table-holder{
  box-sizing: border-box;
  background-color: var(--my-white);
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 25px;
}
#task-table {
  background-color: var(--my-white);
}

#task-header {
  font-size: 23px;
}

.task-row {
  border-bottom: solid black 1px;
  border-bottom: black 1px solid;
  background-color: var(--my-module);
}

td {
  background-color: var(--my-module);
}
/* FORM STLYE */
/* This form-overlay transition code documented below it*/
#form-overlay {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.329); */

 /* Hide the element content, while height = 0 */
  overflow: hidden;
  height: 0vh; /* start hiegh @ 0 */
  opacity: 0; /* start opacity @ 0 */
  transition: height 0ms 400ms, opacity 275ms 0ms;
  /* height delays to the time it takes opacity to fade */ 
}

#form-overlay-vis {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 85, 85, 0.329);
  overflow: hidden;
  z-index: 2;
  height: 100vh; /* bring height to 100vh */
  opacity: 1; /* set opacity to 1 (full) */
  transition: height 0ms 0ms, opacity 275ms 0ms; 
  /* height changes immediately, opacity fades in */
}

#form-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 2;
  border: 5px solid #ffff;
  background-color: var(--my-white);
  border-radius: 15px;
  box-shadow: 25px 20px 70px -30px black;
  transition: 1s;
  padding: 8px;
}

#form-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input {
  padding: 2px;
}

#foot {
   grid-area: foot;
   height: 100%;
   width: 100%;
}