* {
  margin: 0;
  padding: 0;
}

:root {
  --my-white: #fff;
  --my-side: #f5f7fa;
  --my-module: #e9eaec;
  --darker-grey: rgb(219, 219, 219);
  --grey-font:rgb(153, 153, 153);
  --warning-yellow: #fde73c;
  --go-green: rgb(171, 235, 171);
  --danger-red: rgb(255, 112, 112);
  /* font-family: Robots; */
}

@font-face {
    font-family: 'Robots';
    src: url('./fonts/Roboto-Light.ttf');
}

#content {
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 760px;
}

#page-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 15fr 1fr;
  grid-template-columns: 260px 8fr;
  grid-template-areas:
  'side-bar head' 
  'side-bar main '
  'foot foot';
   transition: 275ms;
}

.blurred {
  filter: blur(2px);
  transition: 275ms;
}

#head {
  grid-area: head;
  background-color: var(--my-side);
  height: 100%;
  width: 100%;
}

#main {
  box-sizing: border-box;
  grid-area: main;
  height: 100%;
  width: 100%;
  padding: 0 25px 25px 0;
  background-color: var(--my-side);
}

#add-instructions {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(121, 121, 121);
}


/* **SIDE-BAR SECTION**  */
#side-bar {
  grid-area: side-bar;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--my-side);
  align-items: center;
}
#side-bar :nth-child(1) { order: 2; }
#side-bar :nth-child(2) { order: 1; }

/* + ADD BTN STYLE */
#add-box {
  display: flex;
}

#add-new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 50px 0 0 0;
  border-style: none;
  border-radius: 35%;
  background-color: rgb(241, 176, 176);
  font-size: 50px;
  transition: all ease-in-out 0.2s;
}

#add-new:hover {
  /* width: 110px;
  height: 110px; */
  /* background-color: var(--go-green); */
  background-color: rgb(241, 191, 191);
  box-shadow: 7px 7px rgb(223, 101, 101);
    /* box-shadow: 7px 7px var(--go-green); */
}

#select-box {
  background-color: var(--my-white);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 100px;
  /* margin-top: 10px; */
  padding: 5px;
  gap: 5px;
  box-shadow: 5px 5px 15px 1px rgb(0, 0, 0);
  border-radius: 3px;
}

#project-select,
#task-select {
  height: 100%;
  width: 100%;
  border-style: none;
  background-color: var(--my-white);
    /* font-family: Robots; */
}

#project-select:hover,
#task-select:hover {
  background-color: var(--my-module);
}

#task-select {
  border-bottom: solid 1px var(--my-module)
}
/* SIDE-BAR PROJECT TABLE STYLE */
#project-table {
  padding: 50px 0 0 20px;
  width: 100%;

}

#project-header {
  font-size: 23px;
  margin: 0 0 10px 0;
}

.project-row {
  box-sizing: border-box;
  display: grid;
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 10fr 6fr 2fr;
  grid-template-areas:
  'project-cell project-cell project-options' 
  'project-due project-priority project-options ';
  /* background-color: var(--my-module); */
  border-bottom: 2px solid var(--darker-grey);
  /* border-radius: 25px; */
  column-gap: 15px;
}


.project-row:hover {
  background-color: var(--darker-grey);
}

.selected-row {
  background-color: var(--darker-grey);
}


.project-title-cell {
  grid-area: project-cell;
  display: flex;
  align-items: center;
  /* font-weight: bold; */
  margin: 15px 0 0 15px;
  cursor: default;
}

.project-due-cell {
  display: flex;
  align-items: center;
  grid-area: project-due;
  margin: 2px 0 2px 15px;
  pointer-events: none;
}

.project-dueless {
  color: var(--grey-font);
  /* font-weight:bold; */
  font-size: 12px;
}

.project-priority-cell{
  grid-area: project-priority;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  /* margin: 6px 0 6px 0; */
  height: 23px;
  font-size: 14px;
  /* font-weight:bolder; */
  border-radius: 15px;
  border: 1px solid var(--grey-font);
  pointer-events: none;
}

.project-low {
  background-color: var(--go-green);
}

.project-medium {
  background-color: var(--warning-yellow)
}

.project-high {
  color: black;
  background-color: var(--danger-red)
}

.project-priorityless {
  font-size: 12px;
  color: var(--grey-font);
  border: solid 1px var(--grey-font)
}

.project-options {
  display: flex;
  width: 100%;
  height: 100%;
  grid-area: project-options;
  justify-content: center;
  align-items: center;
  
  /* padding: 0 0 0 0 */
}

.fa-ellipsis-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  /* border: solid 1px black; */
  padding: 2px;
  border-radius: 10px;
  color: var(--grey-font);
}
.fa-ellipsis-vertical:hover {
  color: black;
  /* background-color: rgb(255, 255, 255); */
}

.project-options-box {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid var(--darker-grey);
  border-radius: 7px;
  right: -80px;
  /* opacity: 1; */
  background-color: var(--my-side);
  padding: 7px;
}

.project-edit-btn,
.project-delete-btn,
.project-complete-btn {
  padding: 5px;
  font-size: 15px;
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
  border-style: none;
  border-bottom: solid 1px var(--darker-grey);
  background-color: var(--my-side);
  border-radius: 7px 7px 0 0;
  align-items: center;
}

.project-edit-btn:hover {
  background-color: var(--warning-yellow);
    border-radius: 7px;
}
.project-delete-btn:hover {
  background-color: var(--danger-red);
    border-radius: 7px;
}
.project-complete-btn:hover {
  background-color: var(--go-green);
    border-radius: 7px;
}

.fa-proj-opt {
  pointer-events: none;
}


/* MAIN TASK TABLE STYLE */
#task-table-holder{
  box-sizing: border-box;
  background-color: var(--my-white);
  height: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 25px;
}
#task-table {
  width: 100%;
  background-color: var(--my-white);
  /* row-gap: 15px; */
}

#task-header {
  font-size: 23px;
  padding: 0 0 15px 0;
}

.task-row {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  background-color: var(--my-white);
  grid-template-areas: 
  'task-cell notes-cell due-cell priority-cell task-options'
  ;
  grid-template-columns: 4fr 7fr 3fr 2fr 2fr;
  gap: 10px;
  border-bottom: solid 1px var(--darker-grey);
  margin: 10px 0 0 0;
  padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.task-row:hover {
  background-color: var(--my-side);
}

.task-cell {
  display: block;
  align-self: center;
  grid-area: task-cell;
  white-space: nowrap;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 75px;
}

.notes-cell {
  display: block;
  align-self: center;
  grid-area: notes-cell;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 106px;
  cursor: default;
}

.due-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: due-cell;
  text-overflow: ellipsis;
    white-space: nowrap;
      pointer-events: none;

}

.priority-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-self: center; */
  padding: 0 6px 0 6px;
  height: 23px;
  font-size: 14px;
  /* font-weight:bolder; */
  border-radius: 15px;
  border: 1px solid var(--grey-font);
  width: 55px;
  pointer-events: none;

}

.task-dueless {
  color: var(--grey-font);
  /* font-weight:bold; */
  font-size: 12px;
}

.task-priority-cell{
  grid-area: task-priority;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 6px 0 6px 0; */
  font-size: 14px;
  /* font-weight:bolder; */
  border-radius: 15px;
  border: 1px solid black;
  pointer-events: none;
}

.task-low {
  background-color: var(--go-green);
}

.task-medium {
  background-color: var(--warning-yellow)
}

.task-high {
  color: black;
  background-color: var(--danger-red)
}

.task-priorityless {
  font-size: 12px;
  color: var(--grey-font);
  border: solid 1px var(--grey-font)
}

.task-options {
  display: flex;
  align-items: center;
  grid-area: task-options;
  gap: 5px ;
}

.edit-cell {

}

.delete-cell {

}

.complete-cell {

}

.edit-btn,
.delete-btn,
.complete-btn {
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  width: 100%;
  display:flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
  border-style: none;
  background-color: var(--my-side);
  border-radius: 7px;
  align-items: center;
}

.edit-btn:hover {
  background-color: var(--warning-yellow);
    border-radius: 7px;
}
.delete-btn:hover {
  background-color: var(--danger-red);
    border-radius: 7px;
}
.complete-btn:hover {
  background-color: var(--go-green);
    border-radius: 7px;
}


/* td {
  background-color: var(--my-module);
} */
/* FORM STLYE */
/* This form-overlay transition code documented below it*/
#form-overlay {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.329); */

 /* Hide the element content, while height = 0 */
  overflow: hidden;
  height: 0vh; /* start hiegh @ 0 */
  opacity: 0; /* start opacity @ 0 */
  transition: height 0ms 400ms, opacity 275ms 0ms;
  /* height delays to the time it takes opacity to fade */ 
}

#form-overlay-vis {
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: rgba(85, 85, 85, 0.329);
  overflow: hidden;
  z-index: 2;
  height: 100vh; /* bring height to 100vh */
  opacity: 1; /* set opacity to 1 (full) */
  transition: height 0ms 0ms, opacity 275ms 0ms; 
  /* height changes immediately, opacity fades in */
}

#form-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 2;
  border: 5px solid #ffff;
  background-color: var(--my-white);
  border-radius: 15px;
  box-shadow: 25px 20px 70px -30px black;
  transition: 1s;
  padding: 10px;
}

#form-form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  gap: 8px;
}

/* FORM PRIORITY RADIO BUTTON STYLING.
A LOT DONE TO GET TEXT IN THE RADIO BUTTONS 
WHICH TAKES SETTING THE INPUT TO display:none AND
INSERTING A SPAN WITH TEXT AND MNAIPULATING ITS STYLE*/
#project-priority-box,
#task-priority-box {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

#project-low-priority,
#project-medium-priority,
#project-high-priority,
#task-low-priority,
#task-medium-priority,
#task-high-priority {
  display: none;
}

#project-low-span,
#project-medium-span,
#project-high-span,
#task-low-span,
#task-medium-span,
#task-high-span {
display: flex;
border: 1px solid #ccc; 
width: 69px; 
height: 27px; 
overflow: hidden; 
justify-content: center;
align-items: center;
border-radius: 15px; 
font-size: 14px; 
}

#project-low-priority:checked + #project-low-span,
#task-low-priority:checked + #task-low-span {
  background: var(--go-green); 
  border-color: #ccf;
}

#project-medium-priority:checked + #project-medium-span,
#task-medium-priority:checked + #task-medium-span {
  background: var(--warning-yellow); 
  border-color: #ccf;
}

#project-high-priority:checked + #project-high-span,
#task-high-priority:checked + #task-high-span {
  background: var(--danger-red); 
  border-color: #ccf;
}

#project-submit,
#task-submit {
  width: 68%;
  height: 38px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: var(--darker-grey);
  align-self: center;
  margin: 2px 0 10px 0;
}

#project-submit:hover,
#task-submit:hover {
  background-color: var(--go-green);
}

input,
textarea {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input[type="text"],
input[type="date"],
textarea {
  border: solid 1.5px var(--grey-font);
  border-radius: 10px;
}

textarea {
  min-width: 250px;
  min-height: 78px;
  max-width: 580px;
  max-height: 240px;
}

#task-description {
  height: 60px;
  /* display: flex;
flex-direction: column; */
}

#foot {
   grid-area: foot;
   height: 100%;
   width: 100%;
}